{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}NETSTORE{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link  rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron">
    <link  rel="stylesheet" type="text/css" href="{% static 'netstore/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- header -->
        <div class="navbar-header">
            <button type="button"class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" href="{% url 'index' %}">NETSTORE</a>
        </div>

    <!-- header items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'index' %}">
                        <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp; {% trans 'Auctions' %}
                    </a>
                </li>
                <li class="">
               {% if user.is_authenticated %}
                    <a href="{% url 'create_auction' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;{% trans 'Auction' %}
                    </a>
               {% else %}
                   <a href="{% url 'create_user' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{% trans 'Join' %}
                   </a>
               {% endif %}
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search_auction' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="query" value="">
                </div>
                <button type="submit" class="btn btn-default">{% trans 'Search' %}</button>
            </form>

            <ul class="nav navbar-nav navbar-right">


                   {% if user.is_authenticated %}
                       <li class="">
                           <a href="{% url 'edit_user' %}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp; {% trans 'Profile' %}
                            </a>
                       </li>
                       <li class="">
                           <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; {% trans 'Logout' %}
                           </a>
                       </li>
                   {% else %}
                       <li class="">
                           <a href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; {% trans 'Login' %}
                           </a>
                       </li>
                   {% endif %}

            </ul>

        </div>
    </div>
</nav>
{% if messages %}
            <div class="row">
                <div class="col-xs-12">
                    {% for message in messages %}
                        <p class="text-success">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
{% block body %}
{% endblock %}
<div id="footer">
    <!--<form action="/i18n/setlang/" method="post">-->
    <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES  %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE  %} selected="selected" {% endif %}>
                    {{ lang.1 }} ({{ lang.0 }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Switch' %}" />
    </form>
</div>
</body>
</html>