{% extends 'base.html' %}
{% block body %}
    <div class="row">
        {% for auction in all_auctions %}
            <div class="col-md-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'auction_detail' auction.id %}"><h4>{{ auction.title }}</h4></a>
                        </td>
                    </tr>
                </tbody>
            </table>


            </div>
        {% endfor %}
    </div>

{% endblock %}